body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #C8A2C8;
}
header {
  background: #240046;
  color: white;
  text-align: center;
  padding: 1rem;
}

h1, h2 {
  margin: 0.5rem 0;
}

.form-section {
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

form input, form button, select {
  display: block;
  margin: 0.5rem 0;
  padding: 0.6rem;
  width: 100%;
}

form button {
  background: #240046;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #541a9c;
}


.filters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}

#search, #filterClube {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  min-width: 220px;
}

#search:focus, #filterClube:focus {
  border-color: #240046;
  box-shadow: 0 0 5px rgba(108, 45, 199, 0.3);
}


.ordenar-btn {
  padding: 8px 14px;
  background-color: #240046;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.ordenar-btn:hover {
  background-color: #541a9c;
  transform: scale(1.05);
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3 {
  margin: 0.5rem 0;
}

.actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

button.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button.action-btn:hover {
  color: #6c2dc7;
}
